<div id="container">
  <h1>Profile info for <%= @user.username %>:</h1>
  <h6><a href="/users/<%= @user.id %>/edit">Edit profile</a></h6>
  <h2>Surveys created:</h2>
  <ul>
    <% @user.surveys.each do |survey| %>
      <li><a href=<%= "/surveys/#{survey.id}" %>><%= survey.name %></a> <%= "(created #{survey.nice_date})" %></li>
    <% end %>
  </ul>
  <h2>Polls taken:</h2>
  <ul>
    <% @user.polls.each do |poll| %>
      <li><a href=<%= "/polls/#{poll.id}" %>><%= poll.survey_name %></a> <%= "(taken #{poll.nice_date})" %></li>
    <% end %>
  </ul>
</div>
